.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--midground);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0.5rem;
    overflow-x: auto;
}

.actionGroup {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dateText {
    cursor: pointer;
    transition: color 150ms ease-in-out;
}
