:root {
    --loss-red: #d40221;
    --loss-red-25: #b3001b25;
    --loss-red-50: #b3001b80;
    --loss-red-75: #b3001bbf;
    --neutral-gray: #d3d0cb;
    --neutral-gray-25: #d3d0cb25;
    --neutral-gray-50: #d3d0cb80;
    --neutral-gray-75: #d3d0cbbf;
    --profit-green: #00ad31;
    --profit-green-25: #5da27125;
    --profit-green-50: #5da27180;
    --profit-green-75: #5da271bf;
    --custom-white: #f2efe9;
    --custom-gray: #7c8585;
    --custom-black: #252627;
    --custom-black-25: #25262725;

    --background: var(--custom-white);
    --midground: var(--custom-gray);
    --foreground: var(--custom-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--custom-black);
        --foreground: var(--custom-white);
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.inputEntry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* Profit Color Classes */

.profit {
    color: var(--profit-green);
}

.profit-25 {
    color: var(--profit-green-50);
    background-color: var(--profit-green-25);
}

.profit-50 {
    color: var(--profit-green-75);
    background-color: var(--profit-green-50);
}

/* Loss Color Classes */

.loss {
    color: var(--loss-red);
}

.loss-25 {
    color: var(--loss-red-50);
    background-color: var(--loss-red-25);
}

.loss-50 {
    color: var(--loss-red-75);
    background-color: var(--loss-red-50);
}

/* Neutral Color Classes */

.neutral {
    color: var(--neutral-gray);
}

.neutral-25 {
    color: var(--neutral-gray-50);
    background-color: var(--neutral-gray-25);
}

.neutral-50 {
    color: var(--neutral-gray-75);
    background-color: var(--neutral-gray-50);
}

@media (hover: hover) and (pointer: fine) {
    .profit-25:hover {
        color: var(--profit-green-75);
        background-color: var(--profit-green-50);
    }
    .profit-50:hover {
        color: var(--custom-white);
        background-color: var(--profit-green-75);
    }
    .loss-25:hover {
        color: var(--loss-red-75);
        background-color: var(--loss-red-50);
    }
    .loss-50:hover {
        color: var(--custom-black);
        background-color: var(--loss-red-75);
    }
    .neutral-25:hover {
        color: var(--neutral-gray-75);
        background-color: var(--neutral-gray-50);
    }
    .neutral-50:hover {
        color: var(--neutral-gray);
        background-color: var(--neutral-gray-75);
    }
}

