.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    row-gap: 16px;
}

.header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: 16px;
    font-size: 0.8rem;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1rem;
    right: 1rem;
    gap: 0.5rem;
    z-index: 999;
}

.githubLink {
    color: #181717;
    line-height: 0;
}

@media (hover: hover) and (pointer: fine) {
    .githubLink:hover {
        color: var(--midground);
    }
}

@media (prefers-color-scheme: dark) {
    .githubLink {
        filter: invert();
    }
}

