@media screen and (max-width: 640px) {
    .content {
        display: none;
    }
}

.button {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.primary {
    background-color: var(--background);
}

.secondary {
    color: var(--custom-black);
    background-color: transparent;
    border: none;
}

.tertiary {
    color: var(--custom-white);
    background-color: transparent;
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    .primary:hover {
        color: var(--background);
        background-color: var(--midground);
    }

    .secondary:hover,
    .tertiary:hover {
        color: var(--midground);
    }
}
